<!--nav -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Fran Expósito</a>
    </div>
    <div class="pull-right">
      <button id="totop" type="button" class="btn btn-default navbar-btn"><i class="fa fa-angle-up fa-2x"></i></button>
    </div>
  </div>
</nav>
<!--/navegador -->

<nav class="menu2">
  <ul class="menu-projects">
    <li class="title-m">Menú</li>
    <li><a class="menu-a" href="/">Inicio</a></li>
    <li><a class="menu-a" href="/categories/">Categorias</a></li>
    <li><a class="menu-a" href="/tags">Tags</a></li>
    <li><a class="menu-a" href="/#contact">Contacto</a></li>
  </ul>
</nav>
